<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
<xsl:output method="html" encoding="utf-8" indent="yes" />
<xsl:variable name="processedUri" select="<% if (path === '') { %>$uri<% } else { %>substring-after($uri, '<%= path %>')<% } %>" />
<xsl:template match="/">
	<xsl:text disable-output-escaping='yes'>&lt;!DOCTYPE html&gt;</xsl:text>
	<html>
		<head>
			<title><%= title %>: <xsl:value-of select="$processedUri" /></title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<link rel="stylesheet" href="<%= path %>/@<%= cssSha1 %>.css" type="text/css" media="all" />
			<% if (typeof favicon === 'string') { %>
			<link rel="icon" href="<%= path %>/favicon.png" />
			<% } else { %>
			<link rel="icon" type="image/png" sizes="67x67" href="data:image/png;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEMAAABDCAYAAADHyrhzAAABt0lEQVR42u2bYbGDMBCEIwEJlRAJSKiESEACDiIBCUhAQiQgIRJo3kx4pR1aILkEetmd2d9tv94tuUsrRLhq5855dJ7ebJxb55tgrr8POKwA+OSWKwjpbA+AWFZKBRAMgVSRIGb3HGBoAhCza1QFk+pQhCBmV2gRBq0yJIDRAAaDgxgqA5mBpwnOGUfVokVeq2MkAKExtWKMf/HADcSyZfqdECznTdf7+k/78l+rhIZrNUAQBEEQL939aDD6ibpYrZ2AdYkgvg2LfWkHvK31o/GVw1579ymWw75kKzCPTsksgzVmh9JxC0wj4jZrWfco0vdzinuQXtDsXMccwSoTlmUjaK8mrM+eJLp96GUKILWgv6dJdpO31ctdAsiU7nL3cugLmsQgSDf1OuE30GUCscyR4GBVCXtUZQaxBKJinxyUp0F5Eoig34tIglBTX8LYXgDGrrauCENNBUyiuR01NscA0RcDMZ2R7urEwAyCoTKk+E/AqC/6RrPDkBf+1rLCoHxy/DyMoXAQ01lzwWVhKEB4wgAEwAAMwAAMwAAMwAAMwMgLwwDC/wV10cuc1X9I1QVXiJlBPACL8LU/k1cSggAAAABJRU5ErkJggg==" />
			<% } %>
			<script src="<%= path %>/@<%= jsSha1 %>.js" type="text/javascript" defer="defer"></script>
		</head>
		<body<% if (lightTheme) { %> class="light"<% } %>>
			<div class="content">
			    <h1><%= title %> <span><xsl:value-of select="$processedUri" /></span></h1>
				<xsl:if test="count(list/directory) > 0 or $processedUri != '/'">
					<div class="directories">
						<xsl:if test="$processedUri != '/'">
							<a href="../">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="up" viewBox="0 0 16 16">
									<path d="m11.798 8.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742z"/>
									<path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm.694 2.09A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09l-.636 7a1 1 0 0 1-.996.91H2.826a1 1 0 0 1-.995-.91l-.637-7zM6.172 2a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
								</svg>
							</a>
						</xsl:if>
						<xsl:for-each select="list/directory">
							<a href="{.}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
									<path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
								</svg><xsl:value-of select="." />
							</a>
						</xsl:for-each>
					</div>
				</xsl:if>
				<xsl:if test="count(list/file) > 0">
					<div class="gallery">
						<xsl:for-each select="list/file">
							<figure class="galleryItem">
								<xsl:choose>
									<xsl:when test="contains(' .mp4 .mkv .avi .wmv .ogv ', concat(' ', substring(., string-length() - 3), ' ')) or contains(' .webm ', concat(' ', substring(., string-length() - 4), ' '))">
										<a href="{.}" class="glightbox" title="{.}" data-type="video" data-title="{.}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
												<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
												<path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
											</svg>
										</a>
									</xsl:when>
									<xsl:when test="contains(' .jpg .gif .png ', concat(' ', substring(., string-length() - 3), ' ')) or contains(' .webp ', concat(' ', substring(., string-length() - 4), ' '))">
										<a href="{.}" class="glightbox" data-type="image" data-title="{.}">
											<img src="<% if (typeof thumbnails === 'string') { %><%= path %>/cache/thumbnails{$processedUri}<% } else if (thumbnails) { %><%= path %>/thumbnails{$processedUri}<% } %>{.}" alt="{.}" />
										</a>
									</xsl:when>
									<xsl:otherwise>
										<a href="{.}" class="glightbox" data-type="other" data-title="{.}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
												<path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
											</svg>
										</a>
									</xsl:otherwise>
								</xsl:choose>
								<figcaption>
									<xsl:value-of select="." />
								</figcaption>
							</figure>
						</xsl:for-each>
					</div>
				</xsl:if>
			</div>
		</body>
	</html>
</xsl:template>
</xsl:stylesheet>
