<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
<xsl:output method="html" encoding="utf-8" indent="yes" />
<xsl:template match="/">
	<xsl:text disable-output-escaping='yes'>&lt;!DOCTYPE html&gt;</xsl:text>
	<html>
		<head>
			<title>Gallery: <xsl:value-of select="$uri" /></title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<link rel="stylesheet" href="/<%= path %>/@<%= cssSha1 %>.css" type="text/css" media="all" />
			<script src="/<%= path %>/@<%= jsSha1 %>.js" type="text/javascript" defer="defer"></script>
		</head>
		<body>
			<div class="content">
			    <h1>Gallery: <xsl:value-of select="$uri" /></h1>
				<xsl:if test="count(list/directory) > 0 or $uri != '/<%= path %>/'">
					<xsl:if test="$uri != '/<%= path %>/'">
						<p>
							<a href="../">Directory: UP</a>
						</p>
					</xsl:if>
					<xsl:for-each select="list/directory">
						<p>
							<a href="{.}">Directory: <xsl:value-of select="." /></a>
						</p>
					</xsl:for-each>
				</xsl:if>
				<xsl:if test="count(list/file) > 0">
					<div class="gallery">
						<xsl:for-each select="list/file">
							<figure class="galleryItem">
								<xsl:choose>
									<xsl:when test="contains(' mp4 webm mkv avi wmv flv ogv ', concat(' ', substring-after(., '.'), ' '))">
										<video controls="" src="{.}" alt="{.}"></video>
									</xsl:when>
									<xsl:otherwise>
										<a href="#">
											<img src="{.}" alt="{.}" />
										</a>
									</xsl:otherwise>
								</xsl:choose>
								<figcaption>
									<xsl:value-of select="." />
								</figcaption>
							</figure>
						</xsl:for-each>
					</div>
				</xsl:if>
			</div>
		</body>
	</html>
</xsl:template>
</xsl:stylesheet>
